*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkblue;
}

h1{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

.container{
    background-color: white;
    width: 90vw;
    margin: auto;
    display: flex;
    margin-top: 30px;
    height: 60vh;
}

.bank{
    width: 30%;
    height: 100%;
    background-color: forestgreen;
}
.river{
    width: 40%;
    height: 100%;
    /* margin: solid blue 2px; */
    background-color: blue;
}
.upper-part{
    width: 100%;
    height: 50%;
    background-color: rgb(208, 239, 240);
    display: flex;
    gap: 10px;
    position: relative;
    flex-direction: row;
}

.human{
    height: 150px;
    width: 50px;
    position: relative;
    bottom: 5px;
    left: 10px;
    align-self: flex-end;
}

.zombie{
    height: 150px;
    width: 80px;
    position: relative;
    bottom: 5px;
    left: 10px;
    align-self: flex-end;
}

.score{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.contain-element{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.move-part{
    height: 100%;
    width: 50%;
}
.boat{
    width: 100%;
    height: 80px;
    /* align-self: flex-end; */
    position: relative;
    left: 5px;
    cursor: pointer;
    bottom: 0;
}

.boat :hover{
    transform: scale(1.2);
}

.element{
    cursor: pointer;
}
.element :hover{
    transform: scale(1.1);
}
.controls{
    width: 20vw;
    height: 10vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.btn{
    width: 33.3%;
    height: 100%;
    align-content: center;
}

.btn button{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    border: none;
}


.ele-img{
    width: 90%;
    height: 100%;
}
.boat-img{
    width: 100%;
    height: 100%;
}

.cntrl-logo{
    width: 80%;
    height: 100%;
}

.btn button :active{
   transform: scale(0.90);
}

.info{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid white;
    padding: 20px 30px;
    height: 30vh;
    h2{
        font-size: 50px;
        text-decoration: underline;
        margin: 10px 0;
    }
    p{
        font-size: 20px;
        padding-inline: 10px;
    }
}

.moved-element{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}